

<% if params[:controller] == 'home' %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Welcome to Cardinal Lake!</h2>
        <p>Just imagine having everything you want at your front door. The Cardinal Lake community is just minutes from Gwinnett Place Mall, nestled amongst Cardinal Lake and Canary Lake. Whether you enjoy fishing, boating, or relaxing by the pool or beach, you'll fall in love with our neighborhood.</p>
        <br>
        <p>Cardinal Lake is a proud member of the Atlanta Audubon Society.</p>
       </div>
    </div>

<% end %>