<h1>Home</h1>

<!-- Example row of columns -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Members</h2>
      <p>Already a Member of the Association? Check out our Members section for access to By-Laws, Covenants, and ownership transfer forms.</p>
      <p><a class="btn btn-default" href="membership" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Clubhouse Rental</h2>
      <p>Are you interested in throwing a party in our clubhouse? Click below for information or to contact our Clubhouse Rental Coordinator.</p>
      <p><a class="btn btn-default" href="clubhouse" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Join CLCA</h2>
      <p>Read about the benefits of becoming a member, email our Membership coordinator.</p>
      <p><a class="btn btn-default" href="membership" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
<p>Find me in app/views/home/index.html.erb</p>