.navbar {
	margin-bottom:0;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(CardinalLake.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 1px 1px gray, 1px 1px gray, 1px 1px gray, 1px 1px gray;

}